/* Reuse the same styling for the products page as in the home page */
.functionality-area {
    flex: 1;
    
    background-color: #f9f9f9;
  }
  
  
  .overview {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    
  }
  
  
  .card {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    
  }
  .card:hover{
    cursor: pointer;
    background-color: #f1f1f1;
  }
  
  .card span {
    font-size: 24px;
    font-weight: bold;
  }
  
  .charts {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .chart-box {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 600px; /* Ensure chart box takes full height of the container */
  }
  
  canvas {
    width: 100%;
    height: 300px; 
    display: block; 
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .category {
    padding: 20px;
    background-color: rgb(245, 230, 255);
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    color: rgb(134, 25, 216);
  }
  
  .details {
    display: flex;
    gap: 20px;
  }
  
  .details-box {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .details-box h4 {
    margin-bottom: 10px;
  }
  